@model DodgeBall.DataModels.Team

@{
    ViewBag.Title = Model.Name;
}

<div class="jumbotron">
    <h2>@Model.Name</h2>
    <img src="@Model.Logo" />
</div>
@foreach (var player in Model.Players)
{
    <h2>@player.Name</h2>
    <img src="@player.Picture" alt="@player.Picture" /><br/>
}
<a class="btn btn-warning" href="/Home/EditTeam/@Model.Id">Edit @Model.Name</a>


